/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

.card{
  width: 60%;
  margin: 25px auto;
}
#refresh{
  float: right;
}
.progress-bar{
  display_text: 'center';
}
